* {
    box-sizing: border-box;
}

:root {
    --main-bg: #333333; 
    --top-menu-bg: #00A6A6; 
    --sub-menu-bg: #00B7B7; 
}

body {
    font-family: Tahoma, Geneva, sans-serif;
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: 3rem auto;
    color: white;
    background-color: var(--main-bg);
}

.flex-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    line-height: 3rem;
    padding: 0 1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-weight: bold; 
}

#top-menu a:hover {
    background-color: var(--sub-menu-bg);
}

header, #top-menu {
    position: relative;
}

#top-menu {
    z-index: 20;
    background-color: var(--top-menu-bg); 
}

#sub-menu {
    width: 100%;
    z-index: 10;
    transition: top 0.5s ease-out;
}

#sub-menu a:hover {
    background-color: var(--top-menu-bg);
}

nav a.active {
    background-color: var(--sub-menu-bg);
    color: var(--main-bg);
}
